footer{
  .social{
      text-align: center;
      .p-social{
        font-size: 15px;
        margin-top:45px ;
        margin-bottom: 24px;
        font-family: 'Roboto', sans-serif;
      }
      .iconos-social{
          a{
               margin: 0px 9.5px;
             color: $color-gray;
          }
     }
    }
      .p-copyright{
       
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin:48px auto 22px auto ;
        width: 222px;
      }
  
}
@media (min-width:1024px){
  footer{
    display: flex;
align-items: center;
justify-content: space-around;
    .social{
        display: flex;
        align-items: center;
        
        .p-social{
         
        }
        .iconos-social{
          margin-top: 22px;
            a{
              transition: 0.1s ease-in all;
             &:hover{
              
               color: $color-principal;
             }
            }
       }
      }
        .p-copyright{
         margin: 0;
         width: auto;
        }
    
  }
}