$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;

$color-principal: #572EE5;
$color-secundario:#5ED7C6 ;
$background-trending:#F3F5F8;
$color-dark: #000000;
$color-gray: #9CAFC3;
$color-light: #FFFFFF;
$color-dark-gray:#37383C;
$color-dark-gray-trending:#222326;

